<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">LoginEx</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <div class="logout"> <button (click)="logout()" class="btn btn-danger">Logout</button> </div>
    </form>
</nav>
<div class="jumbotron">
 <h1 class="header">LoginEx DashBoard</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="card" style="width: 20rem;">
        <img src="https://picsum.photos/id/174/800/600" alt="" class="card-img-top image">
        <div *ngIf='user.provider != "password"' class="card-body">
            <h4 class="card-title">{{user.name}}</h4>
            <p class="card-text"> Welcome to LoginEx. this is the prototype website for easy Login authentication. </p>
        </div>
        <div *ngIf='user.provider == "password"' class="card-body">
            <form [formGroup]="profileForm">
                <div class="form-group">
                    <label> Your Name</label>
                    <input type="text" formControlName="name" class="form-control" required>
                </div>
            </form>
            <a (click)="save(profileForm.value)" class="btn btn-primary"> Save </a>
        </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="card" style="width: 20rem;">
        <img src="https://picsum.photos/id/173/800/600" alt="" class="card-img-top image">
        <div *ngIf='user.provider != "password"' class="card-body">
            <h4 class="card-title">{{user.name}}</h4>
            <p class="card-text"> Welcome to LoginEx. this is the prototype website for easy Login authentication. </p>
        </div>
        <div *ngIf='user.provider == "password"' class="card-body">
            <form [formGroup]="profileForm">
                <div class="form-group">
                    <label> Your Name</label>
                    <input type="text" formControlName="name" class="form-control" required>
                </div>
            </form>
            <a (click)="save(profileForm.value)" class="btn btn-primary"> Save </a>
        </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="card" style="width: 20rem;">
        <img src="https://picsum.photos/id/338/800/600" alt="" class="card-img-top image">
        <div *ngIf='user.provider != "password"' class="card-body">
            <h4 class="card-title">{{user.name}}</h4>
            <p class="card-text"> Welcome to LoginEx. this is the prototype website for easy Login authentication. </p>
        </div>
        <div *ngIf='user.provider == "password"' class="card-body">
            <form [formGroup]="profileForm">
                <div class="form-group">
                    <label> Your Name</label>
                    <input type="text" formControlName="name" class="form-control" required>
                </div>
            </form>
            <a (click)="save(profileForm.value)" class="btn btn-primary"> Save </a>
        </div>
        </div>
    </div>
</div>
</div>
<div class="footer-end">
    <p>  2019 <a style="color: #0a93a6; text-decoration: none;"> All Rights Reserved.</a></p>
</div>